.edTileBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.edTileContentBox {
  display: flex;
}

.edTileDates {
  width: 150px;
}

.edTileSchool {
  font-weight: 700;
}

.editButton,
.deleteButton,
.editSubmitButton {
  background-color: #bddad0;
  border-color: #87a79c;
  width: 60px;
  height: 45px;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
