.edContentBox {
  display: flex;
  justify-content: space-between;
}

.edContentBox > * {
  margin: 0px;
  padding: 0px;
}

.edLeftBox,
.edRightBox {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.edLeftBox > *,
.edRightBox > * {
  margin: 5px;
}

.edRightBox {
  flex: 3;
}

.edLeftBox {
  flex: 1;
  min-width: 175px;
}

.edSchool {
  font-weight: 700;
}
